Binaries

DerivedDataCache

Intermediate

Saved

*.VC.db

*.opensdf

*.opendb

*.sdf

*.sln

*.suo

*.xcodeproj

*.xcworkspace

Config/
Content/Animations
Content/Blueprints
Content/Characters
Content/Collections
Content/CSC
Content/Developers
Content/Effects
Content/Environment
Content/ExampleContent
Content/InfinityBladeEffects
Content/Maps
Content/Movies
Content/SciFiWeapLight
Content/Slate
Content/Sounds
Content/UI
Content/Weapons
